%h3 Visor de puntuaciones

#form-ver
  = form_tag :admin_puntuaciones, :method => :get
  = label_tag :num_jornada
  = select_tag :num_jornada, options_for_select((1..38).to_a, params[:num_jornada])

  = label_tag :num_equipo
  = select_tag :num_equipo, options_from_collection_for_select(@equipos, "id", "nombre", params[:num_equipo])

  = submit_tag 'ver puntos', :class => 'btn btn-large btn-inverse table-condensed'

%table.table.table-bordered
  %thead
    %tr
      %th Pos
      %th nombre
      %th resultado_equipo
      %th goles
      %th tarjetas
      %th sin_encajar
      %th nota
      %th destacado
      %th Total
  %tbody
    - @pjugador_pts.each do |j|
      %tr
        %td=j[:posicion][0..2]
        %td=j[:nombre]
        %td=j[:resultado_equipo]
        %td=j[:goles]
        %td=j[:tarjetas]
        %td=j[:sin_encajar]
        %td=j[:nota]
        %td=j[:destacado]

        %td=j[:puntos_total]

        %td
          = link_to 'modificar', cambiar_puntos_admin_puntuaciones_path(:jornada => (params[:num_jornada] || '1'), :jugador_id => j[:jugador_id]), :remote => true, :class => 'btn btn-info'






