- if user_signed_in? && current_user.mis_selecciones.present?
  .dashboard
    = render 'dashboard'
  .dashboard
    = render 'select_equipos'
- elsif user_signed_in?
  = render 'home/pasos_user'
- else
  %h1= t('index.titulo')
  %p= t('index.parrafo1')
  %p= t('index.parrafo2')
  %p= raw t('index.parrafo3')
  %p= raw t('index.pasos')

= render "/anuncios/central"
- if @feed_hec.present?
  %h2= link_to @feed_hec.title, {:controller => 'home', :action => 'hablandoencuero'}
  - @feed_hec.entries.each_with_index do |entry, i|
    %p
      %strong= link_to entry.title, entry.url

= render "/anuncios/central"
- if @feed_marca.present?
  %h3= @feed_marca.title
  - @feed_marca.entries.each_with_index do |entry, i|
    %p
      %strong= link_to entry.title, entry.url

    - break if i == 4
= render "/anuncios/central"