%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('mercado.jugadores')
      %th= t('mercado.club')
      %th= t('mercado.valor')

  %tbody
    - @jugadores.each do |j|
      %tr
        %td= j.nombre
        %td= j.equipo.nombre
        %td.derecha= formato_numero j.precio
        %td
          - if valor_mercado_from_jugador(j.id, @mercado)
            = button_to t('mercado.nuevo.cancela'),
            {:action => 'destroy', :controller => 'mercado', :id => j.id}, {:method => :delete, :remote =>  true,  :class => 'btn btn-danger'}
          - else
            = button_to t('mercado.nuevo.acepta'),
            {:action => 'create', :controller => 'mercado', :params => {:jugador_id => j.id}},
            {:remote =>  true, :class => 'btn btn-success'}
