#formbuscar
  = form_tag mercado_buscarjugador_path(current_user.current_seleccion(session).id), :method => :post, :id => "form_buscajugador", :remote => true do
    %h1=t('mercado.buscar.titulo')
    %p=t('mercado.buscar.texto')
    .radios
      %p
        = label_tag :busca_nombre, t('mercado.buscar.nombre')
        = text_field_tag :busca_nombre, '', :class => 'input-medium'

        = label_tag :jugador_equipo, t('mercado.buscar.equipo')
        = collection_select 'jugador', 'equipo', @equipos, :id, :nombre, {:include_blank => true}, :class => 'input-small'

        = label_tag :jugador_posicion, t('mercado.buscar.posicion')
        = collection_select 'jugador', 'posicion', Jugador::POSICIONES, :first, :last, {:include_blank => true}, :class => 'input-small'

      %p
        = label_tag :valor_minimo, t('mercado.buscar.valor')
        = text_field_tag :valor_minimo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_min')
        = text_field_tag :valor_maximo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_max')

        = label_tag :puntos_minimo, t('mercado.buscar.puntos')
        = text_field_tag :puntos_minimo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_min')
        = text_field_tag :puntos_maximo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_max')
        %button.btn.btn-success.btn-medium.makeofer{:type => 'button', :id => "fetchplayers"}
          %span.icon-search
          =t('mercado.buscar.boton')

  #tablabuscada
    = render 'resultados_buscar'
