#formbuscar
  = form_tag mercado_buscarjugador_path(current_user.current_seleccion(session).id), :method => :get, :id => "form_buscajugador", :remote => true do
    %h1=t('mercado.buscar.titulo')
    %p=t('mercado.buscar.texto')
    .radios
      %p
        = label_tag :busca_nombre, t('mercado.buscar.nombre')
        = text_field_tag :busca_nombre, '', :class => 'input-medium'

        = label_tag :equipo_jugador, t('mercado.buscar.equipo')
        = collection_select 'equipo', 'jugador', @equipos, :id, :nombre, {:include_blank => true}, :class => 'input-small'

        = label_tag :posicion_jugador, t('mercado.buscar.posicion')
        = collection_select 'posicion', 'jugador', Jugador::POSICIONES, :first, :last, {:include_blank => true}, :class => 'input-small'

      %p
        = label_tag :valor_minimo, t('mercado.buscar.valor')
        = text_field_tag :valor_minimo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_min')
        = text_field_tag :valor_maximo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_max')

        = label_tag :puntos_minimo, t('mercado.buscar.puntos')
        = text_field_tag :puntos_minimo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_min')
        = text_field_tag :puntos_maximo, '', :class => 'input-mini', :placeholder => t('mercado.buscar.valor_max')

  #tablabuscada
    = render 'resultados_buscar'
