%h2= t('mercado.titulo')

= form_tag mercado_create_ofertas_path, :remote => true, :id => 'formofer'
%button.btn.btn-success.makeofer{:type => 'button'}
  =t('mercado.oferta.realizar')
= link_to t('mercado.oferta.propias'), ofertas_path, :class => 'btn btn-inverse'
= link_to t('mercado.oferta.buscar'), mercado_buscarjugador_path(current_user.current_seleccion(session).id), :class => 'btn btn-warning'
= link_to t('mercado.oferta.venta'), new_mercado_path, :class => 'btn btn-inverse'

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th= t('mercado.jugadores')
      %th= t('mercado.club')
      %th= t('mercado.owner')
      %th= t('mercado.precio_salida')

  - @jugadores_mercado.each do |jm|
    %tr
      %td
        %strong= jm.jugador.nombre
      %td
        = jm.jugador.equipo.nombre
      %td
        %i= jm.seleccion.nombre if jm.seleccion.present?
      %td.derecha
        = formato_numero(jm.jugador.precio)
      %td
        = text_field_tag "oferta_#{jm.id}", @ofertas.select{|of| of.mercado_id == jm.id}.first.try(:valor), :placeholder => t('mercado.oferta.placeholder'), :class => 'valofer'
        %span.rem_oferta.icon-remove{:id => "delete_#{jm.id}"}

%button.btn.btn-success.makeofer{:type => 'button'}
  =t('mercado.oferta.realizar')
= link_to t('mercado.oferta.propias'), ofertas_path, :class => 'btn btn-inverse'
