%h2= t('mercado.titulo')

= link_to t('mercado.oferta.propias'), ofertas_path, :class => 'btn btn-inverse'
= link_to mercado_buscarjugador_path(current_user.current_seleccion(session).id), :class => 'btn btn-warning' do
  %span.icon-search
  = t('mercado.oferta.buscar')
= link_to t('mercado.oferta.venta'), new_mercado_path, :class => 'btn btn-inverse'

%table.table.fancy-celda#datos_mercado
  = render 'mercado/datos_merdado'