#carousel-banquillo.jcarousel-skin-tango{:style => "float:right;width:650px;"}
  %ul
    - @porteros.each do |jugador|
      %li.jugador.port.anadir{:id => jugador.id, :style => "#{escudo_equipo(jugador.equipo.nombre)}"}
        %p="portero"
        %p.name= jugador.nombre
        %p.dorsal= jugador.dorsal
    - @defensas.each do |jugador|
      %li.jugador.def.anadir{:id => jugador.id, :style => "#{escudo_equipo(jugador.equipo.nombre)}"}
        %p= "defensa"
        %p.name= jugador.nombre
        %p.dorsal= jugador.dorsal
    - @medios.each do |jugador|
      %li.jugador.med.anadir{:id => jugador.id, :style => "#{escudo_equipo(jugador.equipo.nombre)}"}
        %p= "medio"
        %p.name= jugador.nombre
        %p.dorsal= jugador.dorsal
    - @delanteros.each do |jugador|
      %li.jugador.del.anadir{:id => jugador.id, :style => "#{escudo_equipo(jugador.equipo.nombre)}"}
        %p="delantero"
        %p.name= jugador.nombre
        %p.dorsal= jugador.dorsal


:javascript
    jQuery(document).ready(function() {
        jQuery('#carousel-banquillo').jcarousel({
        });
    });
