%div.position-field
  - @porteros.each do |jugador|
    %div.jugador-alineacion.port.anadir{:id => jugador.id}
      %div{:style => escudo_equipo(jugador.equipo.nombre)}
        %p.dorsal= jugador.dorsal
      %p.name= jugador.nombre

  .clear

%div.position-field
  - @defensas.each do |jugador|
    %div.jugador-alineacion.def.anadir{:id => jugador.id}
      %div{:style => escudo_equipo(jugador.equipo.nombre)}
        %p.dorsal= jugador.dorsal
      %p.name= jugador.nombre

  .clear

%div.position-field
  - @medios.each do |jugador|
    %div.jugador-alineacion.med.anadir{:id => jugador.id}
      %div{:style => escudo_equipo(jugador.equipo.nombre)}
        %p.dorsal= jugador.dorsal
      %p.name= jugador.nombre

  .clear

%div.position-field
  - @delanteros.each do |jugador|
    %div.jugador-alineacion.del.anadir{:id => jugador.id}
      %div{:style => escudo_equipo(jugador.equipo.nombre)}
        %p.dorsal= jugador.dorsal
      %p.name= jugador.nombre


  .clear
