= form_for @seleccion do |f|
  %p
    %strong= t('ligas.nombre') + @seleccion.liga.nombre
    = f.hidden_field :liga_id
  %p

    = f.label :nombre
    = f.text_field :nombre, :placeholder => t('equipo.placeholder')

  %p
    = button_tag t('buttons.guardar'),  :class => 'btn btn-primary'