= form_tag list_ligas_path, :method => :get, :id => "form_join_liga", :remote => true
%p= t 'ligas.elegir'
.radios
  %p
    = radio_button_tag :tipo, 'abierta'
    = label_tag :tipo_abierta, t('ligas.tipos.abierta')
    = text_field_tag :busca_liga, '', :placeholder => t('ligas.buscador.placeholder')
  %p
    = radio_button_tag :tipo, 'privada'
    = label_tag :tipo_privada, t('ligas.tipos.privada')
    = text_field_tag :liga_privada, '', :placeholder => t('ligas.privada.placeholder')
  %p
    = radio_button_tag :tipo, 'nueva'
    = label_tag :tipo_nueva, t('ligas.tipos.nueva')
    = button_tag t('ligas.aceptar'), :class => 'btn btn-primary'
    =# link_to t('ligas.nueva_liga.crear'), new_ligas_path, :class => 'btn btn-primary'


#lista-ligas


:javascript
    function submit_join_liga(){
       $('#form_join_liga').submit();
    }

    $(function() {
      $("#busca_liga").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "#{search_ligas_path(:tipo => Liga::PRIVACIDAD[:abierta])}",
            type: 'POST',
            dataType: "json",
            data: {term: request.term},
            success: function(data) {
              response(data);
            }
          });
        },
        minLength: 3,
        delay: 300,
        select: function(event, ui) {
          $("#busca_liga").val(ui.item.label);
          submit_join_liga();
          return false ;
        }
      });
    });