= render :partial => "selecciones/tacticas/tacticas"
.clearfix

#once-titular
  = render :partial => "selecciones/tacticas/once_titular"


.clearfix
#plantilla
  = render :partial => "selecciones/banquillo"

= form_tag save_once_titular_selecciones_path, :method => :put, :remote => true, :id => 'save_once' do
  = hidden_field_tag :id_titulares, ''
  = hidden_field_tag :id_seleccion, @seleccion.id


:javascript
  function submit_once_titular(){
    $.each($('#once-titular').find('.anadir'), function(index, value) {
       id_jugador = $(value).attr('id');
       var titulares = $('#id_titulares').val();
       if (titulares != ''){
         $('#id_titulares').val(titulares + "," + id_jugador);
       }else{
         $('#id_titulares').val(id_jugador);
       }
    });
    if ($('#id_titulares').val() != '') {
       $('#save_once').submit();
    } else {
       alert("Debes seleccionar algun jugador para tu once inicial");
    }
  }

