= render :partial => "selecciones/tacticas/tacticas"
.clearfix

#once-titular
  = render :partial => "selecciones/tacticas/once_titular"

  %button.btn.btn-primary{:type=> "button", :onclick => "submit_once_titular();"}
    = t('buttons.guardar')

.clearfix
#plantilla
  %ul
    %li= t('jugadores.posiciones.portero').upcase
    - @porteros.each do |jugador|
      %li.jugador.port.anadir{:id => jugador.id}
        %p= jugador.nombre
        %p.dorsal= jugador.dorsal
  %ul
    %li= t('jugadores.posiciones.defensa').upcase
    - @defensas.each do |jugador|
      %li.jugador.def.anadir{:id => jugador.id}
        %p= jugador.nombre
        %p.dorsal= jugador.dorsal
  %ul
    %li= t('jugadores.posiciones.medio').upcase
    - @medios.each do |jugador|
      %li.jugador.med.anadir{:id => jugador.id}
        %p= jugador.nombre
        %p.dorsal= jugador.dorsal
  %ul
    %li= t('jugadores.posiciones.delantero').upcase
    - @delanteros.each do |jugador|
      %li.jugador.del.anadir{:id => jugador.id}
        %p= jugador.nombre
        %p.dorsal= jugador.dorsal


= form_tag save_once_titular_selecciones_path, :method => :put, :remote => true, :id => 'save_once' do
  = hidden_field_tag :id_titulares, ''
  = hidden_field_tag :id_seleccion, @seleccion.id


:javascript
  $(function() {
      $.each([".port", ".def",".med", ".del"], function(index, value) {
        $(value).draggable({
          revert: true
        });
      });
      var arr_dragables = [".port", ".def",".med", ".del"];
      $.each([".portero", ".defensa",".medio", ".delantero"], function(index, value) {
        $(value).droppable({
          accept: arr_dragables[index],
          drop: function(event, ui) {
            if ($(this).children()){
              $(this).children().insertAfter($(ui.draggable));
            }
            $(this).append($(ui.draggable));
          }
        });
      });
  });
  function submit_once_titular(){
    $.each($('#once-titular').find('.anadir'), function(index, value) {
       id_jugador = $(value).attr('id');
       var titulares = $('#id_titulares').val();
       if (titulares != ''){
         $('#id_titulares').val(titulares + "," + id_jugador);
       }else{
         $('#id_titulares').val(id_jugador);
       }
    });
    if ($('#id_titulares').val() != '') {
       $('#save_once').submit();
    } else {
       alert("Debes seleccionar algun jugador para tu once inicial");
    }
  }

