%h1 Buscar usuarios
= form_tag list_usuarios_path, :method => :get, :id => "form_lista_users", :remote => true do
  = text_field_tag :busca_usuario, '', :placeholder => t('usuarios.buscar.placeholder')
  = button_tag t('usuarios.buscar.titulo'), :class => 'btn btn-primary', 'data-loading-text' => t('buttons.buscando')

#lista-users

%h1 Mis amigos

%table.table.fancy-celda
  - @siguiendo.in_groups_of(3, false).each do |grupo|
    %tr
      - grupo.each do |usuario|
        %td
          %p.datos
            %br
            %strong= usuario.username
            %br
            = t('usuarios.buscar.equipos', :numequipos => usuario.selecciones.count)
          %p.control-group
            - if usuario.id != current_user.id
              = form_tag seguir_usuarios_path(usuario.id), :remote => true, :id => "follow#{usuario.id}" do
                - if current_user.follows?(usuario)
                  %button.btn.btn-warning.btn-medium.makeofer.follow{:type => 'button', :id => "botfoll#{usuario.id}"}
                    %span.icon-minus
                    =t('usuarios.acciones.no_seguir')
                - else
                  %button.btn.btn-success.btn-medium.makeofer.follow{:type => 'button', :id => "botfoll#{usuario.id}"}
                    %span.icon-plus
                    =t('usuarios.acciones.seguir')

%h1 Mis seguidores

%table.table.fancy-celda
  - @seguidores.in_groups_of(3, false).each do |grupo|
    %tr
      - grupo.each do |usuario|
        %td
          %p.datos
            %br
            %strong= usuario.username
            %br
            = t('usuarios.buscar.equipos', :numequipos => usuario.selecciones.count)
          %p.control-group
            - if usuario.id != current_user.id
              = form_tag seguir_usuarios_path(usuario.id), :remote => true, :id => "follow#{usuario.id}" do
                - if current_user.follows?(usuario)
                  %button.btn.btn-warning.btn-medium.makeofer.follow{:type => 'button', :id => "botfoll#{usuario.id}"}
                    %span.icon-minus
                    =t('usuarios.acciones.no_seguir')
                - else
                  %button.btn.btn-success.btn-medium.makeofer.follow{:type => 'button', :id => "botfoll#{usuario.id}"}
                    %span.icon-plus
                    =t('usuarios.acciones.seguir')



:javascript
  $(function() {
    $("#busca_usuario").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "#{search_usuarios_path}",
          type: 'POST',
          dataType: "json",
          data: {term: request.term},
          success: function(data) {
            response(data);
          }
        });
      },
      minLength: 2,
      delay: 300,
      select: function(event, ui) {
        $("#busca_usuario").val(ui.item.label);
        $('#form_lista_users').submit();
        return false ;
      }
    });
  });
