= link_to "Home", root_path, :class => 'brand'

%ul.nav
  - if user_signed_in?
    -# opciones....
    - if current_user.sin_selecciones?
      %li
        = link_to(t('menus.crear_equipo'), new_selecciones_path)
    - else
      %li
        = link_to(t('menus.mi_equipo'), '#')
  - else
    %li
      = link_to(t('login.signin'), new_user_session_path, :remote => true)
      =# link_to('Login', prueba_path, :remote => true)
  - if user_signed_in?
    %li
      = link_to(t('menus.edit_account'), edit_user_registration_path)
    %li
      = link_to(t('menus.logout'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(t('menus.signup'), new_user_registration_path)


- if @mis_equipos.present?
  .btn-group
    %button.btn.dropdown-toggle{'data-toggle' => "dropdown"}
      = @mis_equipos.first.nombre
      %span.caret
    %ul.dropdown-menu{:role => "menu", :style => 'left :0'}
      - @mis_equipos.each do |e|
        %li
          = link_to e.nombre

      =# select_tag :equipo, options_from_collection_for_select(@mis_equipos, 'id', 'nombre'), :style => 'height: 25px;margin-top: 5px;font-size:12px;' if @mis_equipos.present?
