= link_to "FSM", root_path, :class => 'brand'

%ul.nav
  - if user_signed_in?
    -# opciones....
    - if current_user.sin_selecciones?
      %li
        = link_to(t('menus.crear_equipo'), new_selecciones_path)
    - else
      %li
        = link_to current_user.current_seleccion(session).try(:nombre), plantilla_selecciones_path(:id_seleccion => current_user.current_seleccion(session).id)
    %li
      = link_to edit_user_registration_path do
        %i.icon-user.icon-white
        = t('menus.edit_account')
  - else
    %li
      = link_to(t('login.signin'), new_user_session_path, :remote => true)
    %li
      = link_to(t('menus.signup'), new_user_registration_path)

%ul.nav.derecha
  %li
    = link_to informacion_index_path do
      %i.icon-info-sign.icon-white
      = t('menus.info')
  - if user_signed_in?
    %li
      = link_to(destroy_user_session_path, :method=>'delete') do
        %i.icon-remove-sign.icon-white
        = t('menus.logout')

