= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    -# opciones....
    - if current_user.sin_selecciones?
      %li
        = link_to(t('menus.crear_equipo'), new_selecciones_path)
    - else
      %li
        = link_to(t('menus.mi_equipo'), '#')
  - else
    %li
      = link_to(t('login.signin'), new_user_session_path, :remote => true)
      =# link_to('Login', prueba_path, :remote => true)
  - if user_signed_in?
    %li
      = link_to(t('menus.edit_account'), edit_user_registration_path)
    %li
      = link_to(t('menus.logout'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(t('menus.signup'), new_user_registration_path)


